<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <environment>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <title></title>
    <style>
    </style>
</head>
<body>
    <div id="header">
        <div class="header-c">
            <a href="#" class="logo"><img src="../img/logo.png" /></a>
            <div class="nav">
                <ul id="menu-ul" class="nav-ul ">
                    <li class="actived navactive">
                        <a href="../html/index.html" target="_self">首页</a>
                        <span style="left:50%;width:0px;"></span>
                    </li>
                    <li>
                        <a href="../html/community.html" target="_self">社区</a>
                        <span style="left:50%;width:0px;"></span>
                    </li>
                    <li>
                        <a href="../html/members.html" target="_self">会员</a>
                        <span style="left:50%;width:0px;"></span>
                    </li>
                </ul>
            </div>
            <div id="nav-btn">
                <ul id="login-ul" class="login-ul">
                    <li>
                        <a href="../Account/Register">注册</a>
                        <span style="left:50%;width:0px;"></span>
                    </li>
                    <li>
                        <a href="../account/index">登录</a>
                        <span style="left:50%;width:0px;"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" id="container">
        @RenderBody()
    </div>

    <footer id="footer">
        <p id="p1">
            <span>
                本网站版权归站长所有。
            </span>
            <br />
        </p>
        <p id="p2">
            <span>
                当使用本站时，代表您已接受了本站的使用条款和隐私条款。版权所有，保留一切权利。
            </span>
        </p>
    </footer>
 
    <script>

        //JQUERY
        $(document).ready(function () {
            $(".header-c li").hover(
                function () {
                    if (this.innerText != "首页") {
                        $(this).addClass("navactive");
                    }
                }, function () {
                    if (this.innerText != "首页") {
                        $(this).removeClass("navactive");
                    }
                });
        });

    </script>

</body>
</html>