
@{
    ViewData["Title"] = "社区";
}
<div class="row" id="articlesList">
    <div v-for="item in items">
        <div class="col-md-8">
            {{ item.message }}
        </div>
        <div class="col-md-3">
            {{ item.message }}
        </div>
        <div class="col-md-1">
            {{ item.message }}
        </div>
    </div>
</div>

<script>

    var example = new Vue({
        el: '#articlesList',
        data: {
            items: [],
            articleList: '',
        },
        methods: {
            this.items = [
                { message: 'Foo' },
                { message: 'Bar' }
            ]
        }
    })
</script>