
@{
    ViewData["Title"] = "社区";
}
<div class="row" id="articlesList">
    <div v-for="item in items">
        <div class="col-md-8">
            {{ item.message }}
        </div>
        <div class="col-md-3">
            {{ item.message }}
        </div>
        <div class="col-md-1">
            {{ item.message }}
        </div>
    </div>
</div>

<script>

    var example = new Vue({
        el: '#articlesList',
        data: {
            items: [],
            articleList: '',
        },
        created: function () {
            this.getList()
        },
        methods: {
            getList: function () {
                var url = "articleslist?pageindex=" + 1 + "&pagecount=" + 2;
                let result;
                var that = this;
                $.ajax({
                    type: "GET",
                    url: url,
                    aync: false, 
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log(data); 
                        that.items = data;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                }); 
            }
        }
    })
</script>