@{
    ViewData["Title"] = "首页";
}

<div class="row" id="tab_1">
    <h2><a href="#" target="_self">美图区</a></h2>
</div>
<div class="row" id="tab_1_content">
    <div class="col-sm-3">
        <div class="tab_1_img">
            <img src="~/img/common_65_icon.jpg" />
        </div>
        <div class="tabl_1_title">
            <ul>
                <li style="font-size:16px;font-weight:600"><a href="#">Red Net</a></li>
                <li>帖子:{{500}}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="tab_1_img">
            <img src="~/img/common_65_icon.jpg" />
        </div>
        <div class="tabl_1_title">
            <ul>
                <li style="font-size:16px;font-weight:600"><a href="#">Model</a></li>
                <li>帖子:{{500}}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="tab_1_img">
            <img src="~/img/common_65_icon.jpg" />
        </div>
        <div class="tabl_1_title">
            <ul>
                <li style="font-size:16px;font-weight:600"><a href="#">others</a></li>
                <li>帖子:{{500}}</li>
            </ul>
        </div>
    </div>
</div>
